.cadunico {
    margin: auto;
    width: 33.33333%;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

.card {
    font-size: 12px;
    aspect-ratio: 643/312;
    background-color: #cccccc;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;
    border: 1px solid;
    border-radius: 4px;
    position: relative;
    width: 643px;
    display: grid;
    grid-template-columns: 280px 1fr;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-size: cover;
}

/* Left side */
.card--left .user-img {
    aspect-ratio: 1/1;
    max-width: 209px;
    border-radius: 50%;
    border: 4px solid #ffc000;
    margin-top: 70px;
    margin-left: 34px;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card--left .user-img img {
    max-width: 100%;
}

/* Right side */
.card--right {
    padding: 8px 16px;
    margin-left: 13px;
}

.card--right .title {
    color: #c55a11;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 700;
}

.card--right .user-name {
    font-size: 2.7em;
    font-weight: 700;
    margin: 5px 0 5px;
}

.card--right .user-info {
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.card--right .user-info__name {
    font-size: 1em;
}

.card--right .user-info__notation {
    font-size: 1.2em;
}

.card--right .user-description {
    font-size: .9em;
    line-height: 1.1em;
    margin: 15px 0;
}

.card--right .user-tags {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card--right .user-tags .tag-group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
}

.card--right .user-tags .tag-group .tag-group__title {
    font-size: .9em;
    text-transform: uppercase;
    font-weight: 700;
    color: #787374;
}

.tag-group__content {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}

.card--right .user-tags .tag-group .tag-group__content .tag {
    background-color: #c55a11;
    display: inline;
    font-size: 1.1em;
    border-radius: 5px;
    padding: 4px 10px;
    min-width: 108px;
    text-align: center;
    font-weight: 500;
    color: #f7e9e0;
}

.logos {
    display: flex;
}

.logos .logo {
    height: 55px;
    display: flex;
}